<h1 class="header_content">praises</h1>
<div class="post-box">	
	<%= form_for(Praise.new,:remote=>true) do |f| %>
	  <div class="field">    
	    <%= f.text_field :title ,:size=>"75",:placeholder=>"Enter Title" %>
	  </div>
	  	<%= f.hidden_field :user_id,value: current_user.id if current_user.present?%>
	  <div class="field">    
	    <%= f.text_area :content ,:rows=>"3",:cols=>"75" ,:placeholder=>"Enter Text"%>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
</div>
<div class="list-box">	
	<% praises.reverse.each do |praise| %>
		<div class="image_show">
			<span ><%= image_tag(praise.user.image.url(:thumb),size: "35x35") if praise.user.image.present? %></span>
		</div>
		<div class="list-box-item">
			<div class="post-section">
				<h3 class="title">Q) <%= praise.title %></h3>
				<p class="desc"><%= praise.content %></p>
				<span id="user_name"><%="#{time_ago_in_words(praise.created_at)} ago "%></span>.
				<span id="user_name"><%= praise.user.name %></span>
			</div>
			<div class="reply-section" id="comment_section_<%= praise.id %>">
				<%= render partial: 'comments/praise_comments' ,locals: {praise: praise} %>
			</div> 
		</div>
	<% end %>
</div>

