 <% if praise.present? %>
    <h4>Comments</h4>
    <div class="comment-list" id='comments_only'>
        <% comments = praise.comments.where("comments.parent_id IS NULL") %>
        <% if comments.count > 0 %>
            <%= link_to "All Comments (#{comments.count})" ,"javascript:;" , :onclick=>"$('#display_comments_count_praise_#{praise.id}').toggle();" %>
            <div id="display_comments_count_praise_<%= praise.id %>" style="display:none;">                
                <% index = 0 %>
                <% comments.where("comments.parent_id IS NULL").each do |comment| %>
                <div>
                    <p class="posted_by">
                        <div class="image_show">
                            <span ><%= image_tag(comment.user.image.url(:thumb),size: "35x35") if comment.user.image.present? %></span>
                        </div>
                        <%= index+=1 %>.
                        <%= comment.content.html_safe %></br>
                        <span style="font-size: 10px;margin-left:16px"><%="#{time_ago_in_words(comment.created_at)} ago "%></span>                    
                    </p>
                    <div class="reply_comments">
                        <ul>                            
                            <% comment.replies.each do |reply| %>
                                <li><%= reply.content.html_safe %>
                                    <span ><%="#{time_ago_in_words(reply.created_at)} ago "%></span></li>
                            <% end %>
                        </ul>
                        <% if current_user %>
                        <div class="nested_comment1" id="reply_comment_<%= comment.id %>" style="display:none;">
                            <%= form_for ([praise,Comment.new]),remote: true do |f| %>        
                                <%= f.hidden_field :user_id,value: current_user[:id] %>
                                <%= f.hidden_field :parent_id,value: comment.id %>       
                                <div class="form_row">                             
                                    <%= f.text_area :content,rows: 3, required: true,:placeholder=>"Enter your reply of this comment" %>
                                </div>
                                <%= f.submit "Submit",class: "btn btn-primary butt" %>            
                            <% end %>              
                        </div>  
                        <% end %>
                    </div>
                </div>
                <hr>
                <% end %>
            </div>
        <% else %>
            <p>Be your first comment ..!!!</p>
        <% end %>
    </div>
     <% if current_user %> 
        <div class="leave_comment_section">
             <%= form_for ([praise,Comment.new]),remote: true do |f| %>        
                <%= f.hidden_field :user_id,value: current_user[:id] %>       
                <div class="form_row">                             
                    <%= f.text_area :content,cols: 100,rows: 3, required: true,:placeholder=>"Enter your comment....." %>
                </div>
                <%= f.submit "Submit",class: "btn btn-primary butt" %>            
            <% end %>              
        </div>  
    <% else %>
        <div class="leave_comment_section">
            <%= link_to "Login to give comment", new_user_session_path %>
        </div>
    <% end %>
<% end %> 

<script>
$(".nested_comment").hide();
$( "#show_div" ).click(function() {
$(".nested_comment" ).slideDown();
});
</script>
<style type="text/css">
    .reply_comments {
        margin-left: 50px;
    }
</style>
